# Ignore specific database and backup files
EponaLands.db
EponaLands.fwl
EponaLands_backup_*.db
EponaLands_backup_*.fwl
LibertyCity_backup_*.db
LibertyCity_backup_*.fwl
MichiLand.fwl.old
MichiLand_backup_auto-*.fwl
MichiLand_backup_auto-*.db
Mundo0_backup_auto-*.fwl
PeroniaLands_backup_auto-*.fwl
PeroniaLands_backup_auto-*.db
PoopLands_backup_*.db
PoopLands_backup_*.fwl
Saber.fwl.old
Saber_backup_auto-*.db
Saber_backup_auto-*.fwl
Thesou_backup_auto-*.fwl
Thesou_backup_auto-*.db
Verela_backup_*.db
Verela_backup_*.fwl
YMeQuieroIr.fwl.old
YMeQuieroIr_backup_auto-*.fwl
YMeQuieroIr_backup_auto-*.db
YoelSuperStar4_backup_auto-*.fwl
testsdasd_backup_auto-*.fwl
PalerMou.db
PalerMou.fwl
PalerMou_backup_20231209-170726.db
PalerMou_backup_20231209-170726.fwl
PalerMou_backup_20240427-012054.db
PalerMou_backup_20240427-012054.fwl
PalerMou_backup_auto-20231006214510.db
PalerMou_backup_auto-20231006214510.fwl
PalerMou_backup_auto-20231015183010.db
PalerMou_backup_auto-20231015183010.fwl
PalerMou_backup_auto-20231209170726.db
PalerMou_backup_auto-20231209170726.fwl
PalerMou_backup_auto-20231209191539.db
PalerMou_backup_auto-20231209191539.fwl
QWEQWEQWE.fwl
QWEQWEQWE_backup_auto-20240504021331.fwl
SOLOKRORK.db
SOLOKRORK.fwl
SOLOKRORK_backup_20240428-214351.db
SOLOKRORK_backup_20240428-214351.fwl
SOLOKRORK_backup_auto-20230716112127.db
SOLOKRORK_backup_auto-20230716112127.fwl
SOLOKRORK_backup_auto-20230812221215.db
SOLOKRORK_backup_auto-20230812221215.fwl
SOLOKRORK_backup_auto-20240428220511.db
SOLOKRORK_backup_auto-20240428220511.fwl
SOLOKRORK_backup_auto-20240429183059.db
SOLOKRORK_backup_auto-20240429183059.fwl
Soriarescatategil.fwl
Soriarescatategil_backup_auto-20240509185218.fwl
worlds.rar